/node_modules
/.npm
/vendor
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/private/*
/storage/debugbar/*
/database/database.sqlite
.env
.git
.github
.gitattributes
.gitignore
.editorconfig
.dockerignore
*bmad*
docker-compose*
phpunit.xml
README.md
tests/
